@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.upload {
  margin: 0 1rem;
  padding-bottom: 3rem;

  @include tablet {
    margin: 0 3rem;
  }

  @include desktop {
    margin: 0 5rem;
  }

  &__divider {
    display: none;
    @include tablet {
      display: block;
      border-bottom: 1px solid $mercury;
      margin: 1rem 0;
      width: 100%;
    }
  }
  &__title {
    @include videoHeader(2.1rem, 2.75rem, 700);
    padding: 2rem 0;

    @include tablet {
      padding: 1rem 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include desktop {
      width: calc(100% / 3);
      padding: 1rem 1rem 0 0;
      flex: 1;
    }
  }

  &__label {
    color: $silver;
    padding-bottom: 0.25rem; // 4px
    @include bodyText(1rem, 1.5rem, 600);
  }

  &__thumbnail {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: $mercury;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    @include tablet {
      padding-bottom: 0;
    }

    @include desktop {
      width: calc(100% * 2 / 3);
      padding-left: 1rem;
      flex: 2;
    }
  }

  &__input-title,
  &__input-description {
    padding: 0.75rem; // 12px
    margin-bottom: 1rem;
    @include bodyText(1rem, 1.5rem, 400);
    color: $bf-black;
    font-family: $font-primary;
    border: 1px solid $mercury;
    border-radius: 0.25rem; // 4px
    background-color: $alabaster;

    // active state
    &:focus {
      border: 2px solid $bf-blue;
      outline: none; // to remove the default focus border
    }

    // error state
    &:invalid {
      border: 1px solid #d22d2d;
    }
  }

  &__input-description {
    max-height: 7rem; //
    resize: none;

    @include desktop {
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
      justify-content: end;
    }
  }

  &__button-publish,
  &__button-cancel {
    background-color: $bf-blue;
    color: $white;
    height: 2.5rem; // 40px
    width: 100%;
    border: none; // Remove border
    padding: 0.5rem 1rem; // 8px 16px
    cursor: pointer;
    border-radius: 0.25rem;
    background-image: url("../../assets/icons/publish.svg");
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    margin-bottom: 1rem;

    @include labelButtonText(0.85rem, 1.25rem, 500);

    @include tablet {
      width: 10rem; // 160px
      margin-bottom: 0;
    }
  }

  &__button-publish {
    @include tablet {
      order: 2;
    }
    &:hover {
      background-color: $bf-dark-blue;
    }
  }

  &__button-cancel {
    background-color: $white;
    color: $bf-blue;
    background-image: none;

    // move to left of publish button when tablet
    @include tablet {
      order: 1;
    }
  }
}
