// add responsive design breakpoints
@use "variables" as *;

// mixin for only 2 breakpoints
@mixin tablet {
  // when screen width >= 768px
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  // when screen width >= 1024px
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin labelButtonText(
  $textSize: 0.625rem,
  $lineHeight: 1.25rem,
  $fontWeight: 700
) {
  font-size: $textSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin bodyText($textSize: 0.85rem, $lineHeight: 1.15rem, $fontWeight: 400) {
  font-size: $textSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin videoHeader($textSize: 2.1rem, $lineHeight: 2.75rem, $fontWeight: 700) {
  font-size: $textSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

// video channel
@mixin videoChannelText($textSize: 1rem, $lineHeight: 1rem, $fontWeight: 600) {
  font-size: $textSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
