@use "../../styles/partials/variables" as *;
.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  &__logo {
    width: 10rem;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search-box {
  }

  &__user-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__upload-button {
    background-color: $bf-blue;
    color: $white;
    background-image: url("../../assets/icons/upload.svg");
    background-repeat: no-repeat;
    height: 2rem;
    border: none; // Remove border
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-position: left 0.5rem center;

    &:hover {
      background-color: $bf-dark-blue;
    }
  }
}
