@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  display: flex;
  flex-direction: row;

  &__label {
  }
  &__input-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__input-top {
    display: flex;
    flex-direction: column;

    @include tablet {
    }
  }

  &__input {
    border: 1px solid $bf-blue;
  }

  &__button {
    background-color: $bf-blue;
    color: $white;
    height: 2.5rem;
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    background-image: url("../../assets/icons/add_comment.svg");
    background-repeat: no-repeat;
    background-position: left 0.5rem center;

    &:hover {
      background-color: $bf-dark-blue;
    }
  }
}

.comments {
  &__count {
  }

  &__list {
    list-style: none; // Remove bullets
  }

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__avatar {
    background-color: $mercury;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
